{{ form_start(form) }}
{% if step is same as(1) %}
    {{ form_row(form.name) }}
        {{ form_row(form.beginnig_date) }}
        {{ form_row(form.end_date) }}
        {{ form_row(form.registration_type) }}
        {{ form_row(form.invitation) }}
        {{ form_row(form.address) }}
{% else %}
    <ul class="entrants" data-prototype="{{ form_widget(form.entrants.vars.prototype)|e }}">
    </ul>
{% endif %}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    {% if step is same as(2) %}
        <script src="{{ asset('build/formEvent.js') }}"></script>
    {% endif %}
{% endblock %}