{% extends 'base.html.twig' %}

{% block title %}Entrant{% endblock %}

{% block body %}
    <h1>Entrant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrant.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ entrant.pseudo }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entrant.state }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'page/return.html.twig' with {'backPageName': 'back_entrant_index'} %}

    <a href="{{ path('back_entrant_edit', {'id': entrant.id}) }}">edit</a>

    {{ include('back/entrant/_delete_form.html.twig') }}
{% endblock %}
