<div class="row" id="admin_tournament">
    <div class="col-md-12">
        {% if event.moduleTournament.matches is empty %}
            <a href="{{ path('module_tournament_init_matches', {'id': event.moduleTournament.id}) }}"
               class="btn btn-primary">Create matches</a>
        {% else %}
            {% if winner is not null %}
                <div class="card winner">
                    <h5 class="card-header">Winner</h5>
                    <div class="card-body">
                        <div class="card">
                            <h5 class="card-header">{{ winner.pseudo }}</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for key, round in rounds %}
                <div class="card round">
                    <h5 class="card-header">ROUND {{ key }}</h5>
                    <div class="card-body">
                        {% for match in round %}
                            <div class="card match" data-match-id="{{ match.id }}">
                                <h5 class="card-header">MATCH {{ match.number }}</h5>
                                <div class="card-body">
                                    <h5 class="card-title">{% for player in match.players %}
                                            {{ player.pseudo }}
                                            {% if not loop.last %} VS {% endif %}{% endfor %}
                                    </h5>
                                    {% if match.scores is empty %}
                                        {% for player in match.players %}
                                            <div class="form-group">
                                                <label for="score_{{ loop.index }}">score de {{ player.pseudo }}</label>
                                                <input type="number" class="form-control score"
                                                       id="score_{{ loop.index }}" name="name"
                                                       placeholder="Score du joueur {{ player.pseudo }}"
                                                       data-player-id="{{ player.id }}">
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% for score in match.scores %}
                                            <div class="form-group">
                                                <label for="score_{{ loop.index }}">Score
                                                    de {{ score.player.pseudo }}</label>
                                                <input type="number" class="form-control score"
                                                       id="score_{{ loop.index }}" name="name"
                                                       placeholder="Score du joueur {{ score.player.pseudo }}"
                                                       data-player-id="{{ score.player.id }}" value="{{ score.score }}"
                                                       data-score-id="{{ score.id }}">
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    <a class="btn btn-primary add-score">Add score</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>