{% extends "Modules/base.html.twig" %}
{% block module_title %}module {{ event.moduleTournament.name }}{% endblock %}
{% block module_content %}
    <div id="moduleTournament" data-id="{{ event.moduleTournament.id }}">
        {% if isOwner(app.user, event) %}
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-md btn-primary mt-1" id="edit-tournament" data-slugevent="{{ event.slug }}">
                    Edit
                </button>
            </div>
        </div><br>
        {% endif %}
        <div class="row" id="admin_tournament">
            <div class="col-md-12" id="tournement-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block module_js %}
    {{ parent() }}
    {% if ajax is not defined or not ajax %}
        <script src="{{ asset('build/moduleTournament.js') }}"></script>
    {% endif %}
{% endblock %}