{% extends "Modules/base.html.twig" %}
{% block module_title %}
    <div class="row">
        <div class="col-md-5 pl-5">Module {{ event.moduleTournament.name|capitalize }}</div>
        <div class="col-md-7 text-right pr-5">
            {% if isOwner(app.user, event) %}
                <button class="btn btn-md btn-primary mt-1" id="edit-tournament" data-slugevent="{{ event.slug }}">
                    Edit
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block module_content %}
    <div id="moduleTournament" data-id="{{ event.moduleTournament.id }}">
        <div class="row" id="admin_tournament">
            <div class="col-md-12" id="tournement-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block module_js %}
    {{ parent() }}
    {% if ajax is not defined or not ajax %}
        <script src="{{ asset('build/moduleTournament.js') }}"></script>
    {% endif %}
{% endblock %}