{{ form_start(form) }}
{% if step is same as(1) %}
    {{ form_row(form.name) }}
    {{ form_row(form.beginnig_date) }}
    {{ form_row(form.end_date) }}
    {{ form_row(form.registration_type) }}
    {{ form_row(form.invitation) }}
    {{ form_row(form.address) }}
    {{ form_row(form.modules) }}
    {{ form_row(form.imageFile) }}
{% else %}
    <ul class="entrants" data-prototype="{{ form_widget(form.entrants.vars.prototype)|e }}">
    </ul>
    {#<input list="pseudo" type="text">#}
    <datalist id="pseudo">
        {% for user in users %}
            <option value="{{ user.pseudo }}"></option>
        {% endfor %}
    </datalist>
{% endif %}
    <button class="btn btn-md btn-success mt-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    {% if step is same as(2) %}
        <script src="{{ asset('build/formEvent.js') }}"></script>
    {% endif %}
{% endblock %}