{{ form_start(form) }}
{% if step is same as(1) %}
    <div class="container event-form">
        <div id="event-informations">
            <a data-toggle="collapse" href="#event-informations-body" role="button" aria-expanded="true" aria-controls="event-informations-body">
                <div class="card-header d-flex justify-content-center">
                    <h3>1. What are the event information?</h3>
                </div>
            </a>
            <div class="card-body form-row collapse show" id="event-informations-body">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.beginnig_date) }}
                    {{ form_row(form.end_date) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.invitation) }}
                    {{ form_row(form.registration_type) }}
                    <div id="price-div">
                        {{ form_row(form.price) }}
                    </div>
                    {{ form_row(form.cashprice_type) }}
                    <div id="cashprice-div">
                        <div class="row">
                            <div class="col-md-4">{{ form_row(form.cashprice1) }}</div>
                            <div class="col-md-4">{{ form_row(form.cashprice2) }}</div>
                            <div class="col-md-4">{{ form_row(form.cashprice3) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="event-image">
            <a data-toggle="collapse" href="#event-image-body" role="button" aria-expanded="true" aria-controls="event-image-body">
                <div class="card-header d-flex justify-content-center">
                    <h3>2. Add a nice picture?</h3>
                </div>
            </a>
            <div class="card-body form-row collapse" id="event-image-body">
                <div class="col-md-12">
                    {{ form_row(form.imageFile) }}
                </div>
            </div>
        </div>

        <div id="event-address">
            <a data-toggle="collapse" href="#event-address-body" role="button" aria-expanded="true" aria-controls="event-address-body">
                <div class="card-header d-flex justify-content-center">
                    <h3>3. Where does it take place?</h3>
                </div>
            </a>
            <div class="card-body form-row collapse" id="event-address-body">
                <div class="container">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            {{ form_row(form.address.number) }}
                        </div>
                        <div class="form-group col-md-10">
                            {{ form_row(form.address.road) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form_row(form.address.city) }}
                        </div>
                        <div class="form-group col-md-2">
                            {{ form_row(form.address.city_code) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.address.country) }}
                        </div>
                    </div>
                    {{ form_row(form.address.complement) }}
                </div>
            </div>
        </div>

        <div id="event-module">
            <a data-toggle="collapse" href="#event-module-body" role="button" aria-expanded="true" aria-controls="event-module-body">
                <div class="card-header d-flex justify-content-center">
                    <h3>4. Which modules do you want to link?</h3>
                </div>
            </a>
            <div class="card-body form-row collapse" id="event-module-body">
                <div class="col-md-6">
                    {{ form_row(form.modules) }}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div id="event-entrants">
        <a data-toggle="collapse" href="#event-entrants-body" role="button" aria-expanded="true" aria-controls="event-entrants-body">
            <div class="card-header d-flex justify-content-center">
                <h3>Final step, do you want to add entrants?</h3>
            </div>
        </a>
        <div class="card-body form-row collapse show" id="event-entrants-body">
            <div class="col-md-6">
                <ul class="entrants" data-prototype="{{ form_widget(form.entrants.vars.prototype)|e }}" style="list-style: none;">
                </ul>
                {#<input list="pseudo" type="text">#}
                <datalist id="pseudo">
                    {% for user in users %}
                        <option value="{{ user.pseudo }}"></option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
    </div>
{% endif %}
    <button class="btn btn-md btn-success mt-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    <script src="{{ asset('build/formEvent.js') }}"></script>
{% endblock %}