{% for event in events %}
    <div class="col-md-4 mb-5">
        <div class="card h-100 m-4">
            {% if vich_uploader_asset(event, 'imageFile') %}
            <img src="{{ vich_uploader_asset(event, 'imageFile')  }}" alt="{{ event.name }}" class="card-img-top"/>
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ event.name }}</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                <p class="card-text">
                    <small class="text-muted">From: {{ event.beginnigDate ? event.beginnigDate|date('Y-m-d H:i:s') : '' }}</small>
                    <br>
                    <small class="text-muted">To: {{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</small>
                </p>
            </div>
            <div class="card-footer text-right">
                {{ render(controller('App\\Controller\\Front\\DefaultController::getOperationsAction',{'route': app.request.attributes.get('_route'), 'entity': event})) }}
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger no-records mt-4" role="alert">
        There is not records yet..
    </div>
{% endfor %}