{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/event/index') }}
{% endblock %}

{% block body %}
    <h1 class="m-3 title">Trouver des événements</h1>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('front_event_new') }}">
                <button class="btn btn-md btn-primary "><i class="fa fa-plus"></i> Créer un nouvel événement</button>
            </a>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary mb-2" id="display-search"><i class="fa fa-search"></i> Rechercher</button>
        </div>
    </div>

    <div class="d-none" id="search">
        <div class="form-group">
            <label for="name-filter">Nom</label>
            <input type="text" class="form-control filtre-input" id="name-filter" name="name"
                   placeholder="Recherche par nom">
        </div>
        <div class="form-group">
            <label for="date-filter">Date</label>
            <input type="date" class="form-control filtre-input" id="date-filter" placeholder="Recherche par date" name="date">
        </div>
        <button id="rechercher" class="btn btn-primary">Filtrer</button>
    </div>
    <div class="skeleton active-skeleton">
        <div class="hero"></div>
        <div class="title"></div>
        <div class="text"></div>
    </div>
    <div id="list-event" class="row">
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('front_event_new') }}">
                <button class="btn btn-md btn-primary mb-5"><i class="fa fa-plus"></i> Créer un nouvel événement</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/eventList.js') }}"></script>
{% endblock %}