{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Beginnig_date</th>
                <th>End_date</th>
                <th>Registration_type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.beginnigDate ? event.beginnigDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.registrationType }}</td>
                {% dump(event.entrants) %}
                <td>
                    {#<a href="{{ path('event_show', {'id': event.id}) }}">show</a>#}
                    {#<a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_event_new') }}"><button class="btn btn-md btn-primary mt-1">Create new</button></a>
{% endblock %}
