{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1 class="m-3 title">Event</h1>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end ">
            <div id="modalEntrant">
                {% if event.registrationType == 1 %}
                    {% if entrants is empty %}
                        {% include 'page/modalRegisterEvent.html.twig' %}
                    {% else %}
                        {% for entrant in entrants %}
                            {% if entrant.active %}
                                {% include 'page/modalCancelRegisterEvent.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 actions">
            {% if event.registrationType != 1 %}
                <div class="alert alert-warning" role="alert">
                    Ceci est un tournoi avec invitation. Vous ne pouvez pas vous inscrire !
                </div>
            {% endif %}
            {% if isOwner(app.user, event) %}
                {{ render(controller('App\\Controller\\Front\\DefaultController::getOperationsAction',{'route': app.request.attributes.get('_route'), 'entity': event})) }}
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="card text-dark custom-box">
        <div class="card-header">
            <div class="row">
                {% if vich_uploader_asset(event, 'imageFile') %}
                    <div class="col-md-4">
                        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.name }}" class="card-img-top mb-1"/>
                    </div>
                {% endif %}
                <div class="col-md-8">
                    <h4 class="card-title">{{ event.name }}</h4>
                    <p class="card-text">{{ (event.description) ? event.description : 'Aucune description renseignée.' }}</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs pull-right mb-4 " id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="informations-tab" data-toggle="tab" href="#informations-tab-content" role="tab" aria-controls="informations-tab" aria-selected="false">Informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="address-tab" data-toggle="tab" href="#address-tab-content" role="tab" aria-controls="address-tab" aria-selected="false">Adresse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="entrants-tab" data-toggle="tab" href="#entrants-tab-content" role="tab" aria-controls="entrants-tab" aria-selected="false">Participants</a>
                </li>
                {% if event.createdby %}
                <li class="nav-item">
                    <a class="nav-link" id="promoter-tab" data-toggle="tab" href="#promoter-tab-content" role="tab" aria-controls="promoter-tab" aria-selected="false">Organisateur</a>
                </li>
                {% endif %}
                {% for module in modules %}
                    <li class="nav-item">
                        <a class="nav-link" {% if loop.first %}aria-selected="true"{% endif %} id="{{ module.moduleName|lower }}-tab" data-toggle="tab" href="#{{ module.moduleName|lower}}" role="tab" aria-controls="{{ module.moduleName|lower }}" aria-selected="false">{{ module.moduleName }} Module</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="informations-tab-content" role="tabpanel" aria-labelledby="informations-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Horaires</h5>
                            <ul class="cashprices-list">
                                <li>Début le {{ event.beginnigDate|date('d M Y à H:i') }}</li>
                                <li>Fin le {{ event.endDate|date('d M Y à H:i') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            {% if (event.registrationtype == 2) %}
                                <h5>Tournoi payant : {{ event.price }}€</h5>
                                <small><i>Somme à régler avant le  {{ event.beginnigDate ? event.beginnigDate|date('d M Y') : '' }} {{ (event.createdby) ? 'auprès de l\'organisateur ' ~ event.createdby.email : '' }}</i></small>
                                {% else %}
                                <h5>Inscriptions gratuites</h5>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if (event.cashpricetype == 2) %}
                                <h5>Cashprices</h5>
                                <ul class="cashprices-list">
                                    <li>1<sup>st</sup> place : {{ event.cashprice1 }}€</li>
                                    <li>2<sup>nd</sup> place : {{ event.cashprice2 }}€</li>
                                    <li>3<sup>rd</sup> place : {{ event.cashprice3 }}€</li>
                                </ul>
                            {% else %}
                                <h5>Aucun cashprice pour cet événement</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="address-tab-content" role="tabpanel" aria-labelledby="address-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Addresse de l'événement</h5>
                            {{ event.address.number }}
                            {{ event.address.road }}
                            <br>
                            {{ event.address.city }}
                            {{ event.address.citycode }}
                            {{ event.address.country }}
                            <br>
                            {{ event.address.complement }}
                        </div>
                        <div class="col-md-6">
                            <iframe width='650' height='350' frameborder='0' scrolling='no'  marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q={{ event.address.number }} {{ event.address.road}} {{ event.address.citycode }} {{ event.address.city }}&amp;output=embed'></iframe>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="entrants-tab-content" role="tabpanel" aria-labelledby="entrants-tab">
                    <p>Participants : </p>
                    <ul class="list-group list-group-flush mb-3">
                        {% if entrants %}
                            {% for entrant in entrants %}
                                <li class="list-group-item">{{ entrant.pseudo }}</li>
                            {% endfor %}
                        {% else %}
                            <p class="card-text">Il n'y a pas encore de participants !</p>
                        {% endif %}
                    </ul>
                </div>
                {% if event.createdby %}
                <div class="tab-pane fade" id="promoter-tab-content" role="tabpanel" aria-labelledby="promoter-tab">
                    <h5>{{ event.createdby.pseudo }}, {{ event.createdby.email }}</h5>
                </div>
                {% endif %}
                {% for module in modules %}
                    <div class="tab-pane fade" id="{{ module.moduleName|lower }}" role="tabpanel" aria-labelledby="{{ module.moduleName|lower }}-tab">
                        {% if module.entity %}
                            {% if (not module.entity.isParameted()) %}
                                {{ render(controller(module.controller~"::parameters", {'event': event})) }}
                            {% else %}
                                {{ render(controller(module.controller~"::display", {'event': event})) }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'page/return.html.twig' with {'backPageName': 'front_event_index'} %}
{% endblock %}
