{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1 class="m-3 title">Event</h1>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end ">
            <div id="modalEntrant">
                {% if event.registrationType == 1 %}
                    {% if entrants is empty %}
                        {% include 'page/modalRegisterEvent.html.twig' %}
                    {% else %}
                        {% for entrant in entrants %}
                            {% if entrant.active %}
                                {% include 'page/modalCancelRegisterEvent.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        Ceci est un tournoi avec invitation vous ne pouvez pas vous inscrire !
                    </div>
                {% endif %}
            </div>
            {% if isOwner(app.user, event) %}
                {{ render(controller('App\\Controller\\Front\\DefaultController::getOperationsAction',{'route': app.request.attributes.get('_route'), 'entity': event})) }}
            {% endif %}

        </div>
    </div>
    <hr>

    <div class="card bg-dark text-white">
        <div class="card-header">
            <div class="row">{% if vich_uploader_asset(event, 'imageFile') %}
                    <div class="col-md-4">
                        <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.name }}" class="card-img-top mb-1"/>
                    </div>
                {% endif %}
                <div class="col-md-8">
                    <h4 class="card-title">{{ event.name }}</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                    <p class="card-text">
                        <small class="text-muted">From: {{ event.beginnigDate ? event.beginnigDate|date('Y-m-d H:i:s') : '' }}</small>
                        <br>
                        <small class="text-muted">To: {{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</small>
                    </p>
                </div>
            </div>

        </div>
        <div class="card-body">
            <ul class="nav nav-tabs card-header-tabs pull-right mb-4" id="myTab" role="tablist">
                {% for module in modules %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" {% if loop.first %}aria-selected="true"{% endif %} id="{{ module.moduleName }}-tab" data-toggle="tab" href="#{{ module.moduleName }}" role="tab" aria-controls="{{ module.moduleName }}" aria-selected="false">{{ module.moduleName }} Module</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for module in modules %}
                    <div class="tab-pane fade {% if loop.first %}active show{% endif %}" id="{{ module.moduleName }}" role="tabpanel" aria-labelledby="{{ module.moduleName }}-tab">
                        {% if module.entity %}
                            {% if (not module.entity.isParameted()) %}
                                {{ render(controller(module.controller~"::parameters", {'event': event})) }}
                            {% else %}
                                {{ render(controller(module.controller~"::display", {'event': event})) }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card-footer text-right">


        </div>
    </div>
    {% include 'page/return.html.twig' with {'backPageName': 'front_event_index'} %}
{% endblock %}
