{% extends "Modules/base.html.twig" %}
{% block module_title %}
    <div class="row">
        <div class="col-md-5 pl-5">Module {{ event.moduleTeam.name|capitalize }}</div>
        <div class="col-md-7 text-right pr-5">
            {% if isOwner(app.user, event) %}

                <button class="btn btn-md btn-primary mt-1" id="edit-team" data-slugevent="{{ event.slug }}">
                    Éditer
                </button>
                <a href="{{ path('module_team_add_team', {'slug': event.slug}) }}">
                    <button class="btn btn-md btn-primary mt-1">Ajouter des équipes</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block module_content %}

    {% if event.moduleTeam.teams is empty %}
        <p>Le module est en cours de paramétrage</p>
    {% endif %}
    <div class="teams row m-2">
        {% for team in event.moduleTeam.teams %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header black-bck">
                        <h3 class="title text-secondary text-center">{{ team.teamName }}</h3>
                    </div>
                    <div class="card-body">
                        <ul style="list-style: none;">
                            {% for player in team.entrants %}
                                <li><h5 class="">{{ player.pseudo }}</h5></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block module_js %}
    <script src="{{ asset('build/moduleTeam.js') }}"></script>
{% endblock %}